@import "vars";
@import "libs";
@import "fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
body{
    min-width: 320px;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #171919;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

.headline-left{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.headline-right{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.title{
    span{
        font-weight: 800;
        font-size: 200px;
        text-transform: uppercase;
        color: rgba(#fff, 0.02);
        position: relative;
        transform: translateX(-50px);
        display: inline-block;
    }
    h3 {
        color: #fff;
        font-size: 80px;
        position: absolute;
        top: 0;
        right: -15px;
        &::after {
            content: '';
            top: 0;
            right: 0;
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: var(--main-color);
        }
    }
}

.subtitle{
    display: inline-block;
    text-align: right;
    &__head {
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        span {
            font-weight: 100;
        }
    }
}

.descr{
    display: inline-block;
    &__head {
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        span {
            font-weight: 100;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;
    span {
        padding: 17px 57px 15px 17px;
        background-color: var(--main-color);
        display: inline-block;
        margin-left: 15px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 21px;
            background-image: url('../img/header/arrows-right.svg');
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
        }
    }
}

.stars-rating__wrapper{
    position: relative;
    display: inline-block;
    margin-top: -12px;
    margin-left: 25px;
    &:before{
        content: '\f005  \f005  \f005  \f005  \f005';
        font-family: 'Font Awesome 5 Free';
        font-size: 22px;
        font-weight: 200;
        color: var(--main-color);
    }
    
}

.stars{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    &::before{
        content: '\f005  \f005  \f005  \f005  \f005';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 22px;
        color: var(--main-color);
    }
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        height: 3px;
        background-color: rgba(74, 246, 206, 0.13);
        border-radius: 20px;
        width: 80%;
        box-shadow: 0px 0px 15px rgb(74, 246, 206);
    }
}





@import "header/header";
@import "surf/surf";
@import "travel/travel";
@import "sleep/sleep";
@import "shop/shop";
@import "footer/footer";


@import "header/header-media";
@import "surf/surf-media";
@import "travel/travel-media";
@import "sleep/sleep-media";
@import "shop/shop-media";
@import "footer/footer-media";