.portfolio{
    padding-top: 120px;
    &__subtitle{
        position: relative;
        text-align: center;
        @include before_circle;
        &:before{
            left: 48.45%;
        }
    }
    &__title{
        position: relative;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 60px;
        &:before{
            content: "";
            position: absolute;
            width: 60px;
            height: 3px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $main-color;
        }
    }
    &__wrapper{
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        .vertical{
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horizonal{
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
    &__item{
        display: block;
        transition: all .6s;
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover{
            filter: blur(3px);
        }
    }
}