@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
body{
    min-width: 320px;
}
.container{
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/side-panel';
@import 'blocks/menu';
@import 'blocks/about-me';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacs';

@import 'blocks/media';