.specialised{
    padding: 55px 93px;
    min-height: 573px;
    background: url('../images/specialised-bg.svg') top 75px (left/auto) no-repeat;
    &__title{
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        color: #202020;
        text-align: center;
        margin-bottom: 96px;
    }
    &__items{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &__item{
        width: 280px;
        margin: 0 auto;
        text-align: center;
        &-img{
            margin-bottom: 22px;
            width: 236px;
        }
        &-title{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #202020;
            margin-bottom: 10px;
        }
    }
}