.serf{
    padding: 160px 0 210px;
    background: url('../img/serf/bg.svg') top 75% right/auto no-repeat;
    &__subtitle{
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
}