.footer{
    padding: 30px 0 80px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 45px 0 23px;
        .menu{
            padding-bottom: 30px;
        }
    }
    &-social{
        &__list{
            display: flex;
            align-items: center;
            padding-bottom: 20px;
        }
        &__item{
            &+.footer-social__item{
                margin-left: 10px;
            }
        }
        &__link{
            path{
                transition: all .3s;
            }
            &:hover{
                path{
                    fill: #001E64
                }
            }
        }
    }
}