@media (max-width: 1421px){
    .footer {
        padding-top: 160px;
    }
}

@media (max-width: 600px){
    .footer {
        padding-top: 80px;
    }
    .footer__copy{
        margin-top: 17px;
    }
}


